<!-- archive.html-->
<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
  div.showimg {
    position: relative;
    top: -45px;
    left: 85px;
    width: 25px;
    height: 20px;
  }

  .avatarshow {
    width: 65px;
    height: 65px;
  }
</style>

<body background='/static/image/homebg.jpg' style='background-repeat: no-repeat;'>
  <br>
  <nav>
    <div class="row">
      <font color='white' size='7px'>&thinsp;&thinsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Xiao Tan</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <font color='white' size='4px'>Practice curves is always <b>e<sup>x</sup></b></font>
      <div style='float:right'>
        {% if request.user.is_authenticated %}
        <ul class='navbar'>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <font color='#337ab7' size='3px'><b>Welcome!&nbsp;&nbsp;{{user.username}}</b></font>
              <b class="caret"></b></a>&thinsp;&thinsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <ul class="dropdown-menu">
              <li>
                <a href='/logout'>logout</a>
              </li>
              <li>
                <a href='/users'>your imformation</a>
              </li>
            </ul>
          </li>
        </ul>
        <div class='showimg'>
          <img class='avatarshow img-circle' src='{{request.user.profile.avatar.url}}' ,alt='{{request.user.profile.phone}}'>
        </div>{% else %}
        <ul class='navbar'>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <font color='white' size='3px'><b>Welcome!&nbsp;&nbsp;guy!</b></font>
              <b class="caret"></b></a>&thinsp;&thinsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <ul class="dropdown-menu">
              <li>
                <a href='/login'>login</a>
              </li>
              <li>
                <a href='/register'>register</a>
              </li>
            </ul>
        </ul>
        {% endif %}
      </div>
      <div class="span8" style='float:right'>
        <br>
        <ul class="nav nav-pills">
          <li class='active'><a href="/"><b style='font-size:18px'>Home</b></a></li>
          <li><a href="/blog"><b style='font-size:18px'>Blog</b></a></li>
          <li><a href="https://github.com/tx19980520"><b style='font-size:18px'>GitHub</b></a></li>
          <li><a href="/about"><b style='font-size:18px'>About</b></a></li>
          <li><a href='/heartbeats'><b style='font-size:18px'>Heart Beats</b></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <hr width='100%'>
  <div class='col-md-1'></div>
  <div class='col-md-10'>
    <img src="/static/image/ico.png" class="img-responsive center-block imgs img-circle" alt="my ico"><br>
    <p class='text-center'><label class="control-label"><font color='white' size='5px'>Xiao Tan（谭骁）</font></label></p>
    <p class='text-center'>
      <font color='white' size='5px'>Undergraduate in <b>Software Engineering</b></font><br><br>
      <font color='white' size='5px'>A student at <b>Shanghai Jiao Tong University</b></font>
    </p>
    <div class="inner text-center">
      <p>
        <br><br>
        <font color='white' size='3.5px'>
          <p>Copyright&nbsp;&#169;&nbsp;2017&nbsp;<a href="http://hzwer.com">Ty.com</a>&nbsp;All Rights Reserved! Powered by Django </font>
        </p>
    </div>
  </div>

  <div class='col-md-1'> </div>
</body>

</html>
