
<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='/static/css/code.css'>
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
  div.showimg {
    position: relative;
    top: -45px;
    left: 85px;
    width: 25px;
    height: 20px;
  }

  .avatarshow {
    width: 65px;
    height: 65px;
  }
</style>
<style>
  .carousel-inner img {
    width: 100%;
  }
</style>
<body>
  <div style='background:url(/static/image/homebg.jpg) !important;'>
    <br>
    <div>
      <nav>
        <div class="row">
          <font color='white' size='7px'>&thinsp;&thinsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Xiao Tan</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <font color='white' size='4px'>Practice curves is always <b>e<sup>x</sup></b></font>
          <div style='float:right'>
            {% if request.user.is_authenticated %}
            <ul class='navbar'>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"></a>
                <font color='#337ab7' size='3px'><b>Welcome!&nbsp;&nbsp;{{user.username}}</b></font><b class="caret"></b></a>&thinsp;&thinsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <ul class="dropdown-menu">
                  <li>
                    <a href='/logout'>logout</a>
                  </li>
                </ul>
            </ul>
            <div class='showimg'>
              <img class='avatarshow img-circle' src='{{request.user.profile.avatar.url}}' ,alt='{{request.user.profile.phone}}'>
            </div>
            {% else %}
            <ul class='navbar'>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"></a>
                <font color='#337ab7' size='3px'><b>Welcome!&nbsp;&nbsp;guy!</b></font><b class="caret"></b></a>&thinsp;&thinsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <ul class="dropdown-menu">
                  <li>
                    <a href='/login'>login</a>
                  </li>
                  <li>
                    <a href='/register'>register</a>
                  </li>
                </ul>
            </ul>
            {% endif %}
          </div>
          <div class="span8" style='float:right'>
            <br>
            <ul class="nav nav-pills">
              <li><a href="/"><b style='font-size:18px'>Home</b></a></li>
              <li class='active'><a href="/blog"><b style='font-size:18px'>Blog</b></a></li>
              <li><a href="https://github.com/tx19980520"><b style='font-size:18px'>GitHub</b></a></li>
              <li><a href="/about"><b style='font-size:18px'>About</b></a></li>
              <li><a href='/heartbeats'><b style='font-size:18px'>Heart Beats</b></a></li>
            </ul>
          </div>
        </div>
      </nav>
      <p class='text-center'>
        <label class='text-center'><font color='white' size='4px'>For more Technology</font></label><br>
        <label class="text-center"><font color='white' size='4px'>technical otaku Save the world</font></label>
      </p>
    </div>
  </div>
  <div class='col-md-2'></div>
<div class='col-md-8'>
    <h2 id="_1">图的基本概念</h2>
<h3 id="_2">图的定义</h3>
<p>图由一个顶点集和连接各顶点的边集组成。它可以用二元组G=(V,E)表示，其中V表示顶点集，E表示边集。如果边有方向，则称为有向图，有向图的边用&lt;&gt;表示。<u,v>表示从u到v的一条边。无向图的路径用(u,v)表示。</p>
<p>边有可能还有第三个属性，就是边的代价或权值。以<u,v,w>(u,v,w)表示</p>
<p>任意一结点到另一结点至多只有1条边，有向图允许两个方向各有一条，这称为稀疏图，如果允许结点之间有多条边存在，则称为密集图。</p>
<h2 id="_3">图的基本术语</h2>
<p>领接</p>
<p>存在一条连接两个结点的边，则可以说两结点相互邻接</p>
<p>度</p>
<p>在无向图中，结点的度是与该结点关联的边数。在有向图中，度被分为出度与入度</p>
<p>子图</p>
<p>整个图的一个小部分</p>
<p>路径与路径长度</p>
<p>非加权的路径长度就是组成路径的边数，加权路径长度是指路径上所有边的权值之和。</p>
<p>简单路径</p>
<p>除了终点和起点可能一样其他结点都不一样。</p>
<p>连通图和连通分量</p>
<p>如果无向图的任意两个结点之间都是连通的，则称其为连通图。非连通图都可以分成几个极大的连通的部分</p>
<p>强连通图和强连通分量</p>
<p>一个有向图任意两点之间是连通的，则其为强连通图，每个极大的强连通子图称为强连通分量</p>
<p>完全图</p>
<p>两个结点之间都有边的无向图称为无向完全图。每两个结点都有来回两个方向的边，则称为有向完全图</p>
<h2 id="_4">图的储存</h2>
<h3 id="1">1.邻接矩阵法</h3>
<p>有n个顶点，则用n*n的矩阵表示整个图的关系，有向图也能表示。</p>
<p>有如下规律：</p>
<ol>
<li>对于无向图：矩阵的第i行或者第i列的元素之和是第i个结点的度。</li>
<li>对于有向图：矩阵的第i行元素之和是结点i的出度，第i列元素之和是结点i的入度</li>
</ol>
<h3 id="2">2.邻接表表示法</h3>
<p>基本的模式累死与hash-table因为用一个数组来储存各个结点，在每个结点后面再加上一个链表，链表中存有，该结点与另连通的某个结点的下标，如果是有权图，则是应该</p>
<h1 id="_5">最小生成树</h1>
<h2 id="_6">最小生成树</h2>
<p>bfs和dfs一个连通图都可以得到一棵生成树</p>
<p>带权值的无向连通图通常称为网络。</p>
<p>加权无向连通图的众多生成树中权值和最小的生成树称为最小生成树。</p>
<p>生成最小生成树的两种算法：Kruskal算法和Prim算法</p>
<h4 id="1kruskal">1.Kruskal算法</h4>
<p>从边的角度出发，最开始生成树中只有点集，之后开始选n-1条路，依次选择权值最小的边</p>
<p>边的权值最小可以用优先队列维护，是否称为回路可以用并查集来实现</p>
<h4 id="2prim">2.Prim算法</h4>
<p>从顶点出发，简单的讲，就是加入一个点，更新一次状态，一个新点的加入意味着加入这个新点所有的度，以终点比较价值，进行更新开始结点和价值，然后把这个加入的点加入到一个数列中。</p></div><div class='col-md-2'>
</div>/<body></html>