
<!DOCTYPE html>
<html>
<head>
  <link rel="icon" sizes="any" mask href="http://www.cqdulux.cn/media/favicon.ico">
  <link rel='stylesheet' href='/static/css/code.css'>
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="/static/javascript/article.js"></script>
  <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
.nav{
  position:absolute;
  top:43px;
  right:233px;
}
.top{
  position:absolute;
  top:20px;
  right:66.3px;
}
h1{
  text-align:center
}
.sidebar {
  position: fixed;
  padding-left: 10px;

  border-left: solid;
  border-color: black;
  border-width: 2px;
}
  div.showimg {
    position: relative;
    top: -45px;
    left: 85px;
    width: 25px;
    height: 20px;
  }

  .avatarshow {
    width: 65px;
    height: 65px;
  }
  .showcover {
  float: left;
  width: 200px;
  height: 150px;
  margin: 5px;
}
  .carousel-inner img {
    width: 100%;
  }
</style>
<body>
  <div style="background:url(/static/image/homebg.jpg)">
    <br>
    <div>
      <nav>
        <div class="row">
          <font color='white' size='7px'>&thinsp;&thinsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Xiao Tan</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <font color='white' size='4px'>Practice curves is always <b>e<sup>x</sup></b></font>
          <div class="top">
            {% if request.user.is_authenticated %}
            <ul class='navbar'>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <font color='#337ab7' size='3px'><b>{{user.username}}</b></font>
                  <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li>
                    <a href='/logout'>logout</a>
                  </li>
                  <li>
                    <a href='/users?username={{request.user.username}}'>your imformation</a>
                  </li>
                </ul>
              </li>
            </ul>
            <div class='showimg'>
              <img class='avatarshow img-circle' src='{{request.user.profile.avatar.url}}' ,alt='{{request.user.profile.phone}}'>
            </div>
            {% else %}
            <ul class='navbar'>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <font color='white' size='3px'><b>Welcome!&nbsp;&nbsp;guy!</b></font>
                  <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li>
                    <a href='/login'>login</a>
                  </li>
                  <li>
                    <a href='/register'>register</a>
                  </li>
                </ul>
              </li>
            </ul>
            {% endif %}
          </div>
              <ul class="nav nav-pills">
                <li><a href="/"><b style='font-size:18px'>Home</b></a></li>
                <li class='active'><a href="/blog"><b style='font-size:18px'>Blog</b></a></li>
                <li><a href="https://github.com/tx19980520"><b style='font-size:18px'>GitHub</b></a></li>
                <li><a href="/about"><b style='font-size:18px'>About</b></a></li>
                <li><a href='/heartbeats'><b style='font-size:18px'>Heart Beats</b></a></li>
              </ul>
            </div>
          </div>
      </nav>
	  <br>
      <p class='text-center'>
        <label class='text-center'><font color='white' size='4px'>For more Technology</font></label><br>
        <label class="text-center"><font color='white' size='4px'>Technical otaku save the world</font></label>
      </p>
      </div>
    </div>
  </div>
    <div class='col-md-1'></div>
<div class='col-md-8 panel panel-default'>
  <div class="panel-body">
    <h1 id="_1">我也不知道那天我就想起来要做的这样一个蠢萌的五子棋</h1>
<h3 id="background">Background</h3>
<p>​   鉴于刚刚跟女朋友出去玩完，在寝室也比较无聊，所以想做些事情刺激一下尘封的cpp和Qt5，继而选择了使用Qt制作一个五子棋项目。</p>
<h3 id="_2">制作的要求</h3>
<h5 id="11">1.1版本</h5>
<p>能实现PvP和PvE两种模式，能判断正误，能够展示输赢，拥有用户界面，用户管理（我以前做的所有用户管理都喵的没有能够实现用户修改自己的信息），记录比赛场次的功能，此处的用户管理使用txt文档收录信息。</p>
<h5 id="12">1.2版本</h5>
<p>完成管理员角色，实现排行榜和联赛机制，美化视角，配上BGM，此处需要把系统中的文件读写转为使用excel的文档，咱们的UI得有个背景了（TAT我还是不知道背景怎么加）</p>
<h5 id="13">1.3版本</h5>
<p>实现人机对战的分级，拥有低难度和高难度的人机（算法不同）。</p>
<h3 id="_3">制作技术</h3>
<p>首先仍然是面对对象该做的事情，我们需要对每个自然物质的东西做类。</p>
<p>不妨回忆下我们的图书管理系统的设计。</p>
<p>我们仍旧用1句话来描述我们要做的整个事情。</p>
<p>一个用户使用本系统与计算机或者人进行五子棋游戏并记录输赢与排行。</p>
<p>这个里面提取出来的类有用户，对战平台（AI）。</p>
<h5 id="11_1">1.1版本实现</h5>
<p>仍旧使用people.txt来进行用户信息的储存，人只是一个数据结构（struct），不作为class操作，意思是为，没有自己的操作，数据一旦读入系统中就意味着一定会被重写。</p>
<p>对战平台有一下的几个部分：</p>
<p>a)用户管理：用户能够在系统中修改自己的相关信息，正常的登入登出。</p>
<p>b)对战AI：拥有自己的一个评估系统，能与人对战（想——下）</p>
<p>c)对战的评判：在完成操作之后进行评测，时候完成对战。</p>
<p>对于用户：</p>
<p>我们有以下信息需要填写：</p>
<table>
<thead>
<tr>
<th>项目</th>
<th>格式</th>
<th>样例</th>
</tr>
</thead>
<tbody>
<tr>
<td>昵称</td>
<td>string</td>
<td>ty0207</td>
</tr>
<tr>
<td>签名</td>
<td>string</td>
<td>你是不是傻</td>
</tr>
<tr>
<td>密码</td>
<td>string（要求有数字和字母）</td>
<td>1234512345qwe</td>
</tr>
<tr>
<td>邮箱</td>
<td>string（保证格式正确）</td>
<td>ty0207@sjtu.edu.cn</td>
</tr>
</tbody>
</table>
<h3 id="_4">工作日志</h3>
<h5 id="722">7月22日</h5>
<p>总结下7月22日之前的工作</p>
<ol>
<li>
<p>实现了背景的添加和QMediaPlayer和QMediaPlaylist的学习和使用。</p>
</li>
<li>
<p>通过修改之前wordlist2的文档读入读出，完成程序的登陆系统，资料修改系统的逻辑非常简单，会于23日完成这部分的工作。</p>
</li>
<li>
<p>完成现有的登陆，主页面，编辑窗口的设计，基本还是很好看的，背景图片选得比较好，格局就分开了，跟以前的丑界面比起来还是好了很多</p>
</li>
<li>完成了音乐播放器的功能</li>
</ol>
<h5 id="723">7月23日</h5>
<p>总结一下7月23日白天的工作  </p>
<p>略微修改了一下各UI的一些格式，没注意到的注意到的，都改了下。  </p>
<p>大概查看了一下关于scroll area的实现文档，准备晚上写一些。  </p>
<p>大致了解了一下类A与类B之间信号槽传递机制，我估计我写的那个也是可以用的。  </p>
<h5 id="728">7月28日</h5>
<p>今天大致了解了如何在Qt中读取excel文件的信息，决定回到重庆后实现这个代码，以及修改了本文档的md文档的格式。以及在git-hub上面找到了五子棋的一个源码，供参考。</p>
<p>我发现我现在还是喜欢用界面为主来写软件界面下面藏内核的写法，或许是能不能把内核单独用一个.h和..cpp的文件写这样界面是独立的。</p>
<h5 id="728_1">7月28日</h5>
<p>今天在接近2h的理解之后终于知道了这个程序一直有问题开启不了的问题，把指针都开拓了空间，然后整个程序是能跑动第一步了，算让这玩意的内核我还是没写，之后把样式表的格式改了下，格式基本正确。明天的预计计划是把内部各种附加的功能设计完成。设计好整个对战的面板</p>
<h5 id="730">7月30日</h5>
<p>今天下午的debug基本是解决了创建用户和登陆的功能，信号槽的工作在改错别字的debug方式中结尾。</p>
<p>现如今发现的问题是修改数据的问题，简单的解决方式是在userlist里面把数据改了，每次关程序的时候都把PeopleData.txt rewrite一次基本可以解决问题。</p>
<p>预计31号能解决的问题是EditDialog能够实现完成，之后是rank的实现，调试音乐部分（做到这一步基本上，就QQ音乐了），最后去查看下我内核的估值算法大概有些什么类型（不能恐慌于自己不会下五子棋）。</p>
<h5 id="731">7月31日</h5>
<p>PvP的界面下棋和判断输赢的的功能能够实现，基本完成PvP的功能，决定于8月1日开始建立PvE的模式，模式的算法基本是现成的，需要能够切换算法进行计算，由此认为的落子这个部分能够比较顺畅我们需要能够在之后让界面更加友好，其次需要验证BGM在后台能不能继续播放，因为现在的情况来看，close之后能够再次打开两人的对战，我认为这可以做到控制BGM。</p>
<p>预计后面两天需要做到的是有一个简单的按值计算的一个估值系统，基本1.1版本就结束工作了（要是闲的没事可以把那个绿色棋子给改了，他们的平级逻辑应该暗示着能够实现）</p>
<p>修改1.2版本的要求，实现excel读取用户数据，记录比赛，主要是BGM美化之类的1.1版本基本已经做好了，稍微再完善一下就可以了。</p>
<h5 id="81">8月1日</h5>
<p>由于有一些事情，因而这一天的工作量大幅度减少，添加了上一步绿子的功能，以及修改了一下chessboard界面的背景，以及添加了棋盘清空功能。</p>
<p>今天我们先想想AI赋值系统怎么写，涉及哪些方面。</p>
<p>我自己想的一个评估的标准是发展期望</p>
<p>我们就是要从第一个子发展到5个子，当然阻断对手的发展也是为了自己的发展，因而我们主要是评判一个子落下之后它的发展会如何。</p>
<p>首先是落下该子之后是否影响胜负，如果让自己赢，则值肯定是正无穷大，如果让对方赢则一定为0；其次是这个子的发展空间，判断八个方向是不是能够发展的，判定的条件是，异色或者边界为阻断，同色和空地都是通过，当然同色的value会更高，有五个空间的一定大幅高于4个3个空间的。</p>
<p>以上情况写出来之后，基本上AI可以为暴力进攻方式来发展自己，但是他没有想到自己的对手。</p>
<p>我们在判断完自己的发展之后，我们要考虑，阻断对方的发展。</p>
<p>对于一个子下入棋盘，他能阻断对方的发展空间是多少，空间顶板的value高，实际子数达到4也是一个量子级别的value提升。两部分的分值叠加，就可以让AI完成自己的赋值，最终再挑出赋值最高的进行实际落子。</p>
<p>我在我的AI内核中故意把攻击和防守分开是为了以后能够开发进攻心态和防守心态搬运比较简单。</p>
<p>我们会发现上面东西可能会有这种情况，就是这几个棋不是连起来的，我们还要对连锁加分</p>
<h5 id="82">8月2日</h5>
<p>这个破儿子终于从QQ音乐变成了一个五子棋了，至此，这个混杂物基本实现，剩下的就是提升实现的的细节</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% if hascomment %}
<p><font size="5px;">Comments</font></p>
{% for com in comments %}
<p><font>{{forloop.counter}}
{{com.0.author}} &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-default" onclick="reply({{forloop.counter}})">reply</button>
</p>
<img src="{{com.1}}" class="avatarshow img-circle" style="position:relative;float:left;">
<p style="margin-left:75px;"><font size="3x;">{{com.0.content}}</font></p>
<br>
<br>
<time style="float:left;">{{com.0.timestamp}}</time>
<hr style="height:2px;border:none;border-top:2px;background-color:black;">
{% endfor %}
{% endif %}
<form action="" method='post'>
{% csrf_token %}
<div class='form-group'><label><font size='3px'>comment</font></label>
<textarea type='text' id="editcomment" onblur="checkcomment()" name='editcomment' class='form-control' rows="3" required></textarea><br>
</div>
<p class='text-center'>
{% if request.user.is_authenticated %}
  <button type="submit" value="submit" class='btn btn-default'>comment</button>
  {% else %}
 <p class="text-center"><font size="3px">If you wanna post,login first!</font></p>
  {% endif %}
</p>
</form></div></div>
<div class="col-md-3">
  <aside>
    <div class="sidebar">
      <font size='2.5px'>
          <font size='4px'>Others the author has</font>
        </p>
        {% for link in links %}
        <p>
          <a href='/detail/{{link.Article_id}}'>
            {{link.title}}</a>
        </p>
        {% endfor %}
        </font>
      </font>
    </div>
  </aside>
</div>
</body>
</html>

