<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    Ty's Blog!
  </title>
  <!-- Bootstrap -->
  <!--<link rel="icon" sizes="any" mask href="http://www.cqdulux.cn/img/favicon.ico">-->
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<!DOCTYPE html>
<html>
<style>
  .carousel-inner img {
    width: 100%;
  }
</style>

<body>
  <br>
  <div style='background:url(/static/image/homebg.jpg);'>
    <nav>
      <div class="row">
        <font color='white' size='7px'>&nbsp;&nbsp;&nbsp;&nbsp;Xiao Tan</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <font color='white' size='4px'>学习曲线永久保持<b>e<sup>x</sup></b></font>
        <div style='float:right'>
          {% if request.user.is_authenticated %}
          <ul class='navbar'>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <font color='#337ab7' size='3px'><b>Welcome!&nbsp;&nbsp;{{user.username}}</b></font>
                <b class="caret"></b></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <ul class="dropdown-menu">
                <li>
                  <a href='/logout'>logout</a>
                  </a>
                </li>
              </ul>
          </ul>
          {% else %}
          <ul class='navbar'>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <font color='white' size='3px'>Please&nbsp;login&nbsp;first!</font>
                <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                  <a href='/login'>login</a>
                  </a>
                </li>
                <li>
                  <a href='/register'>register</a>
                  </a>
                </li>
              </ul>
          </ul>
          {% endif %}
        </div>
        <div class="span8" style='float:right'>
          <br>
          <ul class="nav nav-pills">
            <li><a href="/"><b style='font-size:18px'>Home</b></a></li>
            <li class="active"><a href="/blog"><b style='font-size:18px'>Blog</b></a></li>
            <li><a href="https://github.com/tx19980520"><b style='font-size:18px'>GitHub</b></a></li>
            <li><a href="/about"><b style='font-size:18px'>About</b></a></li>
            <li><a href='/heartbeats'><b style='font-size:18px'>Heart Beats</b></a></li>
          </ul>
        </div>
      </div>
    </nav>
    <p class='text-center'>
      <label class='text-center'><font color='white' size='5px'>以下内容纯属虚构，如有雷同一定抄的</font></label>
    </p>
    <p class='text-center'>
      <label class="text-center"><font color='white' size='5px'>每周不定时更新</font></label>
    </p>
  </div>
  <div class='col-md-2'></div>
  <div class='col-md-7'>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="/static/image/1.png" />
        </div>
        <div class="item">
          <img src="/static/image/2.png" />
        </div>
      </div>
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
<span class="glyphicon glyphicon-chevron-left"></span>
<span class="sr-only">Previous</span>
</a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
<span class="glyphicon glyphicon-chevron-right"></span>
<span class="sr-only">Next</span>
</a>
    </div>
    <div>
      <div>
        {% for post in posts %}
        <div class=''>
          <h2 class="">{{post.title}}</h2>
          <p class="">{{post.timestamp}}</p>
          <p>{{post.body}}</p>
          <hr style=" height:2px;border:none;border-top:2px;background-color:black;" />
        </div> {% endfor %}
        <form action="blog/" method='post'>
          {% csrf_token %} title:
          <input type='text' name="title"><br> Body:
          <textarea placeholder="Write your thoughts here!" class="form-control" name="body"></textarea>
          <input type="submit" value="提交">
        </form>
      </div>
    </div>
  </div>
  <div class='col-md-3'>
    <br>
    <br>
    <br>
    <br>
    <br>
    <aside>
      <div class="about_c main">
        <font size='2.5px'>
          <p>网名：ty0207 | 毛毛大王</p>
          <p>职业：学生 </p>
          <p>籍贯：重庆市</p>
          <p>电话：17710375409</p>
          <p>邮箱：ty0207@sjtu.edu.cn</p>
        </font>
      </div>
    </aside>
  </div>
</body>

</html>
