<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    Heartbeats
  </title>
  <!-- Bootstrap -->
  <!--<link rel="icon" sizes="any" mask href="http://www.cqdulux.cn/img/favicon.ico">-->
  <link rel="icon" sizes="any" mask href="http://www.cqdulux.cn/media/favicon.ico">
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
.nav{
  position:absolute;
  top:43px;
  right:233px;
}
.top{
  position:absolute;
  top:20px;
  right:13.3px;
}
  div.showimg {
    position: relative;
    top: -45px;
    left: 85px;
    width: 25px;
    height: 20px;
  }

  .avatarshow {
    width: 65px;
    height: 65px;
  }

  .carousel-inner img {
    width: 100%;
  }

  .sidebar {
    position: fixed;
    padding-left: 10px;

    border-left: solid;
    border-color: black;
    border-width: 2px;
  }

  .showcover {
    float: left;
    width: 200px;
    height: 150px;
    margin: 5px;
  }

  .preshow {
    float: right;
    position: relative;
    top: -111px;
    left: -400px;
    width: 150px;
    height: 150px;
  }

  .showword {
    margin: 5px;
  }
  #showname{
    width: 30px;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
  }
</style>

<body>
  <div style="background:url(/static/image/homebg.jpg)">
    <br>
      <nav>
        <div class="row">
          <font color='white' size='7px'>&thinsp;&thinsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Xiao Tan</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <font color='white' size='4px'>Practice curves is always <b>e<sup>x</sup></b></font>
          <div class="top">
            {% if request.user.is_authenticated %}
            <ul class='navbar'>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <font color='#337ab7' size='3px'><b>{{user.username}}</b></font>
                  <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li>
                    <a href='/logout'>logout</a>
                  </li>
                  <li>
                    <a href='/users'>your imformation</a>
                  </li>
                </ul>
              </li>
            </ul>
            <div class='showimg'>
              <img class='avatarshow img-circle' src='{{request.user.profile.avatar.url}}' ,alt='{{request.user.profile.phone}}'>
            </div>
            {% else %}
            <ul class='navbar'>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <font color='white' size='3px'><b>Welcome!&nbsp;&nbsp;guy!</b></font>
                  <b class="caret"></b></a>&thinsp;&thinsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <ul class="dropdown-menu">
                  <li>
                    <a href='/login'>login</a>
                  </li>
                  <li>
                    <a href='/register'>register</a>
                  </li>
                </ul>
              </li>
            </ul>
            {% endif %}
          </div>
              <ul class="nav nav-pills">
                <li><a href="/"><b style='font-size:18px'>Home</b></a></li>
                <li><a href="/blog"><b style='font-size:18px'>Blog</b></a></li>
                <li><a href="https://github.com/tx19980520"><b style='font-size:18px'>GitHub</b></a></li>
                <li><a href="/about"><b style='font-size:18px'>About</b></a></li>
                <li class='active'><a href='/heartbeats'><b style='font-size:18px'>Heart Beats</b></a></li>
              </ul>
            </div>
      </nav>
      <p class='text-center' style="position:relative;left:8.3px;">
        <br>
        <label class='text-center'><font color='white' size='4px'>For more Technology</font></label><br>
        <label class="text-center"><font color='white' size='4px'>Technical otaku save the world</font></label>
      </p>
      </div>
    <div class='col-md-1'></div>
  <div class='col-md-8'>
    <div class="panel panel-default">
      <div class="panel-body">
        {% if is_search %}
        <p style='font-size:25px;'>The result of searching <b>{{word}}</b> is :</p><br>{% endif %}{% for post in posts %}
        <div>
          <h2>{% for w in post.0.title %}{% if w in word %}<font color="red">{{w}}</font>{% else %}{{w}}{% endif %}{% endfor %}</h2>
          <p>{{post.timestamp}}</p>
          <img class='avatarshow img-circle' src="{{post.1.avatar.url}}">
          <h5>{% for w in post.0.body %}{% if w in word %}<font color="red">{{w}}</font>{% else %}{{w}}{% endif %}{% endfor %}</h5>
          <hr style=" height:2px;border:none;border-top:2px;background-color:black;">
        </div>{% endfor %}
        </div>
        </div>
        <form action="" method='post' enctype="multipart/form-data">
          {% csrf_token %}
          <font size='5px'>title:</font>
          <input type='text' name="title" class='form-control' style='width:200px;'><br><br>
          <font size='5px'>Body:</font>
          <textarea placeholder="Write your thoughts here!" class="form-control" name="body"></textarea>
          <p class='text-center'>
            <br>
            <button type="submit" value="提交" class='btn btn-default'>提交</button>
          </p>
        </form>
        <br>
        <br>
          <p class="text-center">Copyright&nbsp;&#169;&nbsp;2017&nbsp;<a href="www.cqdulux.cn">www.cqdulux.cn</a>&nbsp;All Rights Reserved! Powered by Django </p>
  </div>
  <div class='col-md-3'>
    <aside>
      <div class="sidebar">
        <p>
          <form name='search' action='' method='post'>
            {% csrf_token %}
            <font size='5px'>Search</font><input type='text' class='form-control' name="search" style='width=100px;'>
            <br>
            <button type="submit" class='btn btn-default'>Search</button>
            <br>
          </form>
        </p>
        <p>
          <font size='5px'>个人简介</font>
        </p>
        <p>网名：ty0207 | 毛毛大王</p>
        <p>职业：学生 </p>
        <p>籍贯：重庆市</p>
        <p>电话：17710375409</p>
        <p>邮箱：ty0207@sjtu.edu.cn</p>
        <br>
        <br>
      </div>
    </aside>
  </div>
</body>

</html>
