<!DOCTYPE html>
<html>

<head>
  <link rel="icon" sizes="any" mask href="http://www.cqdulux.cn/media/favicon.ico">
  <link rel='stylesheet' href='/static/css/log.css'>
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="/static/javascript/register.js"></script>
  <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
  div.showimg {
    position: relative;
    top: -35px;
    left: 120px;
    width: 25px;
    height: 20px;
  }

  .avatarshow {
    width: 75px;
    height: 75px;
  }

  .main {
    margin: 0 auto;
    background: hsla(0, 0%, 100%, .50) border-box;

    overflow: hidden;
    border-radius: .3em;
    box-shadow: 0 0 0 1px hsla(0, 0%, 100%, .3) inset,
    0 .5em 1em rgba(0, 0, 0, 0.6);
    text-shadow: 0 1px 1px hsla(0, 0%, 100%, .3);
  }

  .main::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: -30px;
    z-index: -1;
    -webkit-filter: blur(20px);
    filter: blur(20px);
    max-width: 30em;
  }
</style>

<body class='container' background='/static/image/banner.png' style='background-repeat: no-repeat;'>
  <div class='col-md-3'></div>
  <div class='col-md-6'>
    <br>
    <h1 class='text-center'><font color='white' size='7px'>Register</font></h1><br><br> {% if errors %}
    <li>
      {% for error in errors %}
      <p style="color: red;" class='text-center'>
        Please correct the error: {{error}} below.
      </p>
      {% endfor %}
    </li>
    {% endif %}
    <form action="" method="post" class='text-center main' enctype="multipart/form-data">
      <br>
      <div class='form-group'><label class='col-sm-3 control-label'><font size='3px'>account</font></label>
        <div class="col-sm-9">
          <input type='text' style="width:200px;" id="account" placeholder="输入4个字符以上" name="account" class='form-control' onfocus="attention()" onblur="checknickname()" data-placement="right" data-content='请输入四个及其以上的汉字、字母和数字' required>
        </div>
      </div>
      <br><br>
      <div class='form-group'><label class='col-sm-3 control-label'><font size='3px'>password</font></label>
        <div class="col-sm-9">
          <input type='password' style="width:200px;" placeholder="Please input password" id="password" name="password" class='form-control' onfocus="hintone()" onblur="checkpassowrd()" data-placement="right" data-content='密码中必须包含字母、数字、特称字符，至少8个字符，最多30个字符' required>
        </div>
      </div>
      <br>
      <br>
      <div class='form-group'><label class='col-sm-3 control-label'><font size='3px'>password2</font></label>
        <div class="col-sm-9">
          <input type='password' style="width:200px;" placeholder="Please input password2" id="password2" name="password2" class='form-control' onfocus="hinttwo()" onblur="checksame()" data-placement="right" data-content='保证与上面一致' required>
        </div>
      </div>
      <br>
      <br>
      <div class='form-group'><label class='col-sm-3 control-label'><font size='3px'>e-mail</font></label>
        <div class="col-sm-9">
          <input type='email' style="width:200px;" placeholder="Please input e-mail" name="email" class='form-control'>
        </div>
      </div>
      <br>
      <br>
      <div class='form-group'><label class='col-sm-3 control-label'><font size='3px'>phone</font></label>
        <div class="col-sm-9">
          <input type='text' style="width:200px;" placeholder="Please input phone" name="phone" id="phone" class='form-control' onfocus="phonehint()" onblur="checkPhone()" data-placement="right" data-content='请输入大陆地区正常11位电话号码' required>
        </div>
      </div>
      <br>
      <br>
      <div class='form-group'><label class='col-sm-3'><font size='3px'>avatar</font></label>
        <div class="col-sm-9">
          <input type='file' onchange='shownew(this)' onfocus="filehint()" onblur="closefilehint()" name="avatar" style="width:100px;" data-placement="right" data-content='图片文件大小不要超过2MB' id="file" required>
          <div class='showimg'>
            <img class='avatarshow img-circle' id='choose' />
          </div>
        </div>
        <br>
        <br>
      </div>
      <br>
      <div class='text-center col-sm-11'>
        <button type='submit' placeholder="Register" value="Register" class='btn btn-default'>Register</button>
      </div>
  </div>
  {% csrf_token %}
  </form>
  </div>
  <div class='col-md-3'></div>
</body>

</html>
